{% extends "base.html" %}

{% block h1 %}Add Politician Keywords{% endblock %}

{% block subbreadcrumb %}
<li><a href="{% url politicians.views.view_all_politicians %}">Politician Management</a></li>
<li><a href="{% url polticians.views.add_politician %}">Add Politician</a></li>
<li>Add Politician Keyword Values</li>
{% endblock %}

{% block content %}
<form action ="{% url politicians.views.add_politician_keyword p_id %}" method ="post">{% csrf_token %}
<table>
{{formset.management_form }}
{% for form in formset %}
<tr>
	<td>{{form.keyword}}</td>
	<td>{{form.politician}}</td>
	<td>{{form.value}}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Submit"/>
</form> 
{% endblock %}
