{% extends "base.html" %}

{% block h1 %}Add Politician Keywords for {{name}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url keywords.views.index %}">Keyword Management</a></li>
<li><a href="{% url keywords.views.new_politician_keyword %}">Add New Politician Keyword</a></li>
<li>Add Keyword Values</li>
{% endblock %}

{% block content %}
<form action ="{% url keywords.views.new_politician_keyword_value id %}" method ="post">{% csrf_token %}
<table>
{{formset.management_form }}
{% for form in formset %}
<tr>
        <td>{{form.id}}</td>
	<td>{{form.keyword}}</td>
	<td>{{form.politician}}</td>
	<td>{{form.value}}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Submit"/>
</form> 
{% endblock %}
