{% extends "base.html" %}

{% block h1 %}Keywords {% endblock %}

{% block content %}
<h2>Riding Keywords</h2><a href="/keywords/riding/add/">Add keywords</a>
<p>
{% for RidingKeywordList in ridlist %}
<p>{{RidingKeywordList.name}} <a href="{% url keywords.views.modifyRidingKeywordList RidingKeywordList.id %}">modify</a></p>
{% endfor %}
</p>
<h2>Riding Keyword Values</h2><a href="/keywords/riding/values/">Add keyword values</a>
<table>
	<tr>
		<th>Keyword</th>
		<th>Riding</th>
		<th>Value</th> 
	</tr>
{% for RidingKeywordValue in keyword_list %}
	<tr>
		<td>{{RidingKeywordValue.keyword}}</td>
		<td>{{RidingKeywordValue.riding}}</td>
		<td>{{RidingKeywordValue.value}}</td>
		<td><a href="{% url keywords.views.modifyRidingKeywordValue RidingKeywordValue.id %}">modify</a></td>
	</tr>
{% endfor %}
</table>
<h2>Politician Keywords</h2><a href="/keywords/politician/add/">Add keywords</a>
<p>
{% for PoliticianKeywordList in pollist %}
<p>{{PoliticianKeywordList.name}}<a href="{% url keywords.views.modifyPoliticianKeywordList PoliticianKeywordList.id %}">  modify</a></p>
{% endfor %}
<h2>Politician Keyword Values</h2><a href="/keywords/politician/values/">Add keyword values</a>
<table>
	<tr>
		<th>Keyword</th>
		<th>Politician</th>
		<th>Value</th> 
	</tr>
{% for PoliticianKeywordValue in pol_list %}
	<tr>
		<td>{{PoliticianKeywordValue.keyword}}</td>
		<td>{{PoliticianKeywordValue.politician}}</td>
		<td>{{PoliticianKeywordValue.value}}</td>
		<td><a href="{% url keywords.views.modifyPoliticianKeywordValue PoliticianKeywordValue.id %}">modify</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}
