{% extends "base-subsection.html" %}

{% block h1 %}Keywords{% endblock %}

{% block subbreadcrumbs %}
<li>Keyword Management</li>
{% endblock %}

{% block actions %}
<li><a href="{% url keywords.views.new_riding_keyword %}">Add New Riding Keyword</a></li>
<li><a href="{% url keywords.views.new_politician_keyword %}">Add New Politician Keyword</a></li>
{% comment %}<li><a href="{% url keywords.views.new_riding_keyword_value %}">Assign Riding Keyword Value</a></li>
<li><a href="{% url keywords.views.new_politician_keyword_value %}">Assign Politician Keyword Value</a></li>{% endcomment %}
{% endblock %}

{% block content %}
<h2>Riding Keywords</h2>
<table>
<th>Keyword</th>
<th>Modify</th>
{% for keyword in riding_keywords %}
<tr>
	<td>{{keyword.name}}</td>
	<td><a href="{% url keywords.views.edit_riding_keyword keyword.id %}">Modify Keyword</a></td>
</tr>
{% endfor %}
</table>

<h2>Politician Keywords</h2>
<table>
<th>Keyword</th>
<th>Modify</th>
{% for keyword in politician_keywords %}
<tr>
    <td>{{keyword.name}}</td>
    <td><a href="{% url keywords.views.edit_politician_keyword keyword.id %}">Modify Keyword</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
