
{% extends "base.html" %}

{% block h1 %}Admin Homepage{% endblock %}

{% block subbreadcrumbs %}
<li>Admin Home Page</li>
{% endblock %}

{% block content %}
<ul>
<li><a href="{% url users.views.index %}">Manage Users</a></li>
{% if election == 'BEF' %}
<li><a href="{% url election.views.change_election %}">Change Election Name/Date</a></li>
<li><a href="{% url election.views.set_location %}">Set Location</a></li>
{% endif  %}
<li><a href="{% url election.views.change_election_status %}">{{ election_action }}</a></li>
{% if election == 'DUR' %}
<li><a href="{% url election.views.start_recount %}">Start a Recount</a></li>
{% endif  %}
</ul>


{% endblock %}
