
{% extends "base.html" %}

{% block h1 %}Admin Homepage{% endblock %}

{% block content %}
<ul>
{% if election.status == 'BEF' %}
    <li><a href="{% url election.views.change_election %}">Change Election Information</a></li>
    <li><a href="{% url election.views.set_location %}">Set Location</a></li>
{% endif  %}

{% if election.status != 'ARC' %}
    <li><a href="{% url election.views.change_election_status %}">{{ election_action }}</a></li>
    <li><a href="{% url users.views.index %}">Manage Users</a></li>
{% endif %}

{% if election.status == 'DUR' %}
    <li><a href="{% url election.views.start_recount %}">Start a Recount</a></li>
    <li><a href="{% url ridings.views.choose_riding  %}">Close a Poll</a></li>
{% endif  %}

{% if election.status = 'ARC' %}
    <li><a href="{% url election.views.save_db %}">Save copy of the election (zip)</a></li>
    <li><a href="{% url election.views.reset_db %}">Start new election: keep riding, riding keyword, and user information</a></li>
    <li><a href="{% url election.views.reset_db_full %}">Start new election: clear all data</a></li>
{% endif %}
</ul>


{% endblock %}
