{% extends "base.html" %}

{% block h1 %}Election Results{% endblock %}

{% block content %}

{% for data in results %}

<h1>{{data.0.name}}</h1>
<p>#Seats: {{data.0.num_seats}}</p>
<p>#Voters: {{data.0.num_voters}}</p>
<p>Poll Range: {{ data.5 }}</p>
<p>#Ballots Cast: {{data.3}}</p>
<p>#Ballots Spoiled: {{data.4}}</p>
<p>Voter Turnout: <script type="text/javascript">
var v_t = ({{data.3}}/{{data.0.num_voters}} * 100);
document.write((v_t.toFixed(2)+"%"));
</script></p>
<table>
<tr>
<th>Candidate</th>
<th>Party</th>
{% if election.status == 'DUR' %}
<th>Projected Status</th>
{% endif %}
{% if election.status == 'AFT' %}
<th>Status</th>
{% endif %}
<th>#First Choice Votes</th>
<th>#Transferred Votes</th>
</tr>
{% for winner in data.5 %}
<tr>
<td>{{winner.0.name}}</td>
<td>{{winner.0.party}}</td>
<td align="center">{{winner.1.state}}</td>
<td align="center">{{winner.2}}</td>
<td align="center"><script type="text/javascript">
var fc_v = {{winner.2}}
var droop_v = {{winner.1.vote}};
//var trans_v = fc_v - droop_v.toFixed(0)
if (fc_v >= droop_v)
{
    document.write(0);
}
else
{
    document.write(droop_v);
}
</script></td>
</tr>
{% endfor %}
</table>
<hr/>
{% endfor %}
<p>{{ polls }}</p>

{% endblock %}

