{% extends "base.html" %}

{% block h1 %}Election Results{% endblock %}

{% block content %}
<table>
<tr>
<th>Riding</th>
<th>#Seats</th>
<th>#Voters</th>
<th>#Cast Ballots</th>
<th>#Spoiled Ballots</th>
<th>Voter Turnout</th>
<th>Candidate</th>
<th>Party</th>
<th>Status</th>
</tr>
{% for data in results %}
{% for winner in data.5%}
<tr>
<td>{{data.0.name}}</h2>
<td align="center">{{data.0.num_seats}}</td>
<td align="center">{{data.0.num_voters}}</td>
<td align="center">{{data.3}}</td>
<td align="center">{{data.4}}</td>
<td align="center"><script type="text/javascript">
var v_t = ({{data.3}}/{{data.0.num_voters}} * 100);
document.write((v_t.toFixed(2)+"%"));
</script></td>
<td>{{winner.0.name}}</td>
<td>{{winner.0.party}}</td>
<td>{{winner.1.state}}</td>
</tr>
{% endfor %}
{% endfor %}
</table>
{% endblock %}

