{% extends "base.html" %}

{% block h1 %}Electoral Officer Homepage{% endblock %}

{% block content %}
<ul>

{% if election == 'DUR' or election == 'BEF' %}
	<li><a href="{% url ridings.views.view_all_ridings %}">	Riding Management </a></li>
{% endif %}
{% if election == 'BEF' %}
	<li><a href="{% url keywords.views.index %}">Keyword 	Management</a></li>
{% endif %}
{% if election == 'ARC' %}
   <li>The election is archived. Nothing can be changed.</li>
{% endif %}
{% if election == 'AFT' %}
   <li>The election is completed. Nothing can be changed.</li>
{% endif %}
</ul>

{% endblock %}

