{% extends "base.html" %}

{% block h1 %}{{riding.name}} Results{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li><a href="{% url ridings.views.view_riding riding.id %}">View Riding {{riding.name}}</a></li>
<li>Election Results</li>
{% endblock %}

{% block content %}
<script src="/static/jquery.js"></script>
<p>Number of Seats: {{riding.num_seats}}</p>
<p>Number of Eligible Voters: {{riding.num_voters}}</p>
<p>Poll Range: {{ riding.poll_range }}</p>
{% if election.status == 'DUR' %}
<p>Number of Verified Ballots: {{numVotes}}</p>
{% endif %}
{% if election.status == 'AFT' %}
<p>Number of Ballots Cast: {{numVotes}}</p>
{% endif %}
<p>Number of Spoiled Ballots: {{numSpoiled}}</p>
<p>Voter Turnout: <script type="text/javascript">
var v_t = ({{numVotes}}/{{riding.num_voters}} * 100.0);
document.write((v_t.toFixed(2)+"%"));
</script></p>
<table>
<tr>
<th>Candidate</th>
<th>Party</th>
{% if election.status == 'DUR' %}
<th>Projected Status</th>
{% endif %}
{% if election.status == 'AFT' %}
<th>Status</th>
{% endif %}
<th>#First Choice Votes</th>
<th>#Transferred Votes</th>
</tr>
{% for candidate, candidate_result in candidate_states.items %}
<tr>
<td>{{candidate.name}}</td>
<td>{{candidate.party}}</td>
<td align="center">{{candidate_result.droop_cstate.state}}</td>
<td align="center">{{candidate_result.first_choice_votes}}</td>
<td align="center"><script type="text/javascript">
var fc_v = {{candidate_result.first_choice_votes}}
var droop_v = {{candidate_result.droop_cstate.vote}};
var v = droop_v;
if (fc_v >= droop_v) {
	v = 0;
}
document.write(v);
</script></td>
{% endfor %}
</table>

<div>
    <br />
    <a onclick="$('.election-calc').toggle()">Show/Hide STV calculation</a>
</div>
<div class="election-calc" style="display: none">
<h3>Election calculation</h3>
<table>
    <tr>
        <th>Candidate</th>
        <th>ID</th>
        <th>STV Candidate #</th>
    </tr>
    {% for candidate, candidate_result in candidate_states.items %}
    <tr>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate_result.cand_id }}</td>
        <td>{{ candidate_result.droop_id }}</td>
    </tr>
{% endfor %}
</table>
<table>
    <tr>
        {% for th in dumphtmlhead %}
            <th>{{ th }}</th>
        {% endfor %}
    </tr>
    {% for tr in dumphtml %}
    <tr>
        {% for td in tr %}
            <td>{{ td }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

