{% extends "base.html" %}

{% block h1 %}{{riding.name}} Results{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li><a href="{% url ridings.views.view_riding riding.id %}">View Riding {{riding.name}}</a></li>
<li>Election Results</li>
{% endblock %}

{% block content %}
<p>Number of Seats: {{riding.num_seats}}</p>
<p>Number of Eligible Voters: {{riding.num_voters}}</p>
<p>Poll Range: {{ polls }}</p>
{% if election.status == 'DUR' %}
<p>Number of Verified Ballots: {{numVotes}}</p>
{% endif %}
{% if election.status == 'AFT' %}
<p>Number of Ballots Cast: {{numVotes}}</p>
{% endif %}
<p>Number of Spoiled Ballots: {{numSpoiled}}</p>
<p>Voter Turnout: <script type="text/javascript">
var v_t = ({{numVotes}}/{{riding.num_voters}} * 100.0);
document.write((v_t.toFixed(2)+"%"));
</script></p>
<table>
<tr>
<th>Candidate</th>
<th>Party</th>
{% if election.status == 'DUR' %}
<th>Projected Status</th>
{% endif %}
{% if election.status == 'AFT' %}
<th>Status</th>
{% endif %}
<th>#First Choice Votes</th>
<th>#Transferred Votes</th>
</tr>
{% for vote in winners %}
<tr>
<td>{{vote.0.name}}</td>
<td>{{vote.0.party}}</td>
<td align="center">{{vote.1.state}}</td>
<td align="center">{{vote.2}}</td>
<td align="center"><script type="text/javascript">
var fc_v = {{vote.2}}
var droop_v = {{vote.1.vote}};
if (fc_v >= droop_v)
{
    document.write(0);
}
else
{
    document.write(droop_v);
}
</script></td>
{% endfor %}
</table>
{% endblock %}

