{% extends "base.html" %}

{% block h1 %}Add Ballot{% endblock %}

{% block subbreadcrumbs %}<li>Enter ballots for poll 42</li>
<li>Enter Ballot</li>{% endblock %}
{% block content %}
        <form id="myform" action="">
            <table>
                <tr>
                <th>Candidate</th>
                <th colspan="3">Ranking</th>
                </tr>
                <tr>
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td><input type="radio" name="Bob" class="foo data-column-1" value="1" /></td>
                    <td><input type="radio" name="Bob" class="bar data-column-2" value="2" /></td>
                    <td><input type="radio" name="Bob" class="baz data-column-3" value="3" /></td>
                </tr>
                <tr>
                    <td>Jane</td>
                    <td><input type="radio" name="Billiam" class="data-column-1" value="1" /></td>
                    <td><input type="radio" name="Billiam" class="data-column-2" value="2" /></td>
                    <td><input type="radio" name="Billiam" class="data-column-3" value="3" /></td>
                </tr>
                <tr>
                    <td>Alice</td>
                    <td><input type="radio" name="Bobina" class="data-column-1" value="1" /></td>
                    <td><input type="radio" name="Bobina" class="data-column-2" value="2" /></td>
                    <td><input type="radio" name="Bobina" class="data-column-3" value="3" /></td>
                </tr>
            </table>
<p><label>Spoiled:</label> <input type="checkbox" name="valid"/></p>
<input type="submit" value="Submit" />
<input style="float: right" type="submit" value="Close Poll" />
        </form>
<!--
<form 
action="{% url ballots.views.input_ballot %}" 
method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form> -->
{% endblock %}

