{% extends "base.html" %}

{% block h1 %}List of Conflicted Ballots{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url ballots.views.choose_riding_to_verify %}">Choose Riding To Verify</a></li>
<li>Conflicted Ballots</li>
{% endblock %}
{% block content %}

{% if single_entry %}
<h2>Ballots with problems: Single Entry</h2>
<table class="ballot_verification">
    <tr>
        <th>Ballot #</th>
        <th>Poll</th>
        <th>Vote Data</th>
        <th>Resolve</th>
    </tr>
    {% for ballot in single_entry %}
        <tr>
            <td>{{ballot.ballot_num}}</td>
            <td>{{ballot.poll}}</td>
            <td>
                {% if ballot.spoiled %}
                    Spoiled
                {% else %}
                    {{ballot.candidates_as_string}}
            {% endif %}</td>
            <td><a href="{% url ballots.views.compare_ballot ballot.id %}">Compare</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
	<h2>No ballots only entered once.</h2>
{% endif %}

{% if auto_ballots %}
<h2>Ballots eligible for automatic verification</h2>
<table class="ballot_verification">
    <tr>
        <th>Ballot #</th>
        <th>Poll</th>
        <th>Vote Data</th>
        <th>Resolve</th>
    </tr>
    {% for ballot in auto_ballots %}
    <tr>
        <td>{{ballot.ballot_num}}</td>
        <td>{{ballot.poll}}</td>
        <td>
            {% if ballot.spoiled %}
                Spoiled
            {% else %}
                {{ballot.candidates_as_string}}
        {% endif %}</td>
        <td><a href="{% url ballots.views.auto_accept_ballot ballot.id %}">Accept</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
	<h2>No ballots eligible for automatic verification</h2>
{% endif %}

{% if manual_ballots %}
<h2>Ballots requiring manual verification</h2>
<table class="ballot_verification">
    <tr>
        <th>Ballot #</th>
        <th>Poll</th>
        <th>Vote Data</th>
        <th>Resolve</th>
    </tr>
    {% for ballot in manual_ballots %}
    <tr>
        <td>{{ballot.ballot_num}}</td>
        <td>{{ballot.poll}}</td>
        <td>
            {% if ballot.spoiled %}
                Spoiled
            {% else %}
                {{ballot.candidates_as_string}}
        {% endif %}</td>
        <td><a href="{% url ballots.views.compare_ballot ballot.id %}">Compare</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
	<h2>No ballots requiring manual verification</h2>
{% endif %}

{% if invalid_state_mix %}
<h2>Ballots with problems: Invalid State Mix</h2>
<table class="ballot_verification">
    <tr>
        <th>Ballot #</th>
        <th>Poll</th>
        <th>Vote Data</th>
        <th>Resolve</th>
    </tr>
    {% for ballot in invalid_state_mix %}
    <tr>
        <td>{{ballot.ballot_num}}</td>
        <td>{{ballot.poll}}</td>
        <td>
            {% if ballot.spoiled %}
                Spoiled
            {% else %}
                {{ballot.candidates_as_string}}
        {% endif %}</td>
        <td><a href="{% url ballots.views.input_ballot ballot.poll %}">Add Another</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if single_ro_only %}
<h2>Ballots with problems: Single RO Only</h2>
<table class="ballot_verification">
    <tr>
        <th>Ballot #</th>
        <th>Poll</th>
        <th>Vote Data</th>
        <th>Resolve</th>
    </tr>
    {% for ballot in single_ro_only %}
    <tr>
        <td>{{ballot.ballot_num}}</td>
        <td>{{ballot.poll}}</td>
        <td>
            {% if ballot.spoiled %}
                Spoiled
            {% else %}
                {{ballot.candidates_as_string}}
        {% endif %}</td>
            <td><a href="{% url ballots.views.input_ballot ballot.poll %}">Add Another</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
