{% extends "base.html" %}

{% block h1 %}List of Conflicted Ballots{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url election.views.ro_homepage%}">RO Home Page</a></li>
<li>Conflicted Ballots</li>
{% endblock%}
{% block content %}
<table>
<tr>
<th>Ballot Number</th>
<th>Poll</th>
<th>State</th>
<th>Spoiled</th>
<th>Vote</th>
<th>Id</th>
<th>Fix</th>
</tr>

{% for bad_type, bad_list in bad.items %}
<tr><th colspan='7'>Ballots with problems: {{ bad_type }}</th></tr>
{% for ballot in bad_list %}
<tr>
<td><a href="{% url ballots.views.view_ballot ballot.id %}">{{ballot.ballot_num}}</a></td>
<td>{{ballot.poll}}</td>
<td>{{ballot.get_state_display}}</td>
<td>{{ballot.spoiled}}</td>
<td>{{ballot.vote}}</td>
<td>{{ballot.id}}</td>
<td><a href="{% url ballots.views.compare_ballot ballot.id %}">Fix</a></td>
</tr>
{% endfor %}
<tr><td colspan=7><hr /></td></tr>
{% endfor %}

<tr><th colspan='7'>Ballots eligable for automatic verification</th></tr>
{% for ballot in auto_ballots %}
<tr>
<td><a href="{% url ballots.views.view_ballot ballot.id %}">{{ballot.ballot_num}}</a></td>
<td>{{ballot.poll}}</td>
<td>{{ballot.get_state_display}}</td>
<td>{{ballot.spoiled}}</td>
<td>{{ballot.vote}}</td>
<td>{{ballot.id}}</td>
<td><a href="{% url ballots.views.compare_ballot ballot.id %}">Fix</a></td>
</tr>
{% endfor %}
<tr><td colspan='7'><hr /></td></tr>

<tr><th colspan='7'>Ballots requiring manual verification</th></tr>
{% for ballot in manual_ballots %}
<tr>
<td><a href="{% url ballots.views.view_ballot ballot.id %}">{{ballot.ballot_num}}</a></td>
<td>{{ballot.poll}}</td>
<td>{{ballot.get_state_display}}</td>
<td>{{ballot.spoiled}}</td>
<td>{{ballot.vote}}</td>
<td>{{ballot.id}}</td>
<td><a href="{% url ballots.views.compare_ballot ballot.id %}">Fix</a></td>
</tr>
{% endfor %}
<tr><td colspan='7'><hr /></td></tr>

</table>reload
{% endblock %}
