{% extends "base.html" %}

{% block h1 %}List of {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li>Politician Management</li>
{% endblock %}

{% block content %}
<table>
<tr>
<th>Name</th>
<th>Party</th>
<th>Incumbant in:</th>
<th>Candidate in:</th>
<th></th>
</tr>


{% for politician in politicians %}

<tr>
<td><a href='{% url politicians.views.view_politician politician.id %}'>
{{politician.name}}</a></td>
<td>{{politician.party}}</td>
<td>{{politician.incumbent_riding}}</td>
<td>{{politician.candidate_riding}}</td>
<td><a href='{% url politicians.views.modify_politician politician.id %}'>Modify</a></td>
</tr>

{% endfor %}
</table>

{% endblock %}
