{% extends "base-subsection.html" %}

{% block h1 %}Politician Information{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url politicians.views.view_all_politicians %}">Politician Management</a></li>
<li>View Politician {{ politician.name }}</li>
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url politicians.views.modify_politician politician.id %}">Edit Information</a></li>{% endif %}
{% endblock %}

{% block content %}
{% if politician.delete %}
<p><b>Deleted</b> {{politician.deleted}}</p>
{% endif %}
<p>Name: {{politician.name}}</p>
<p>Party: {{politician.party}}</p>
<p>Incumbant in: {% if politician.incumbent_riding != NULL %}
<a href='{% url ridings.views.view_riding politician.incumbent_riding.id %}'>
{{politician.incumbent_riding}}</a>
{% else %}
{{politician.incumbent_riding}}
</p>
{% endif %}
<p>Candidate in: {% if politician.candidate_riding != NULL %}
<a href='{% url ridings.views.view_riding politician.candidate_riding.id %}'>
{{politician.candidate_riding}}</a>
{% else %}
{{politician.candidate_riding}}
</p>
{% endif %}
<h2>Keywords</h2>
{% for PoliticianKeywordValue in keywords %}
{% if not PoliticianKeywordValue.keyword.delete %}
<p>{{PoliticianKeywordValue.keyword.name}}: {{PoliticianKeywordValue.value}}&nbsp
{% if election.status == 'BEF' %}
<a href="{% url keywords.views.edit_politician_keyword_value PoliticianKeywordValue.id %}">Modify</a>
{% endif %}
</p>
{% endif %}
{% endfor %}
{% endblock %}
