{% extends "base-subsection.html" %}

{% block h1 %}List of {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li>Politician Management</li>
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url politicians.views.add_politician %}">Add Politician</a></li>{% endif %}
{% endblock %}

{% block content %}
<table>
<tr>
<th>Name</th>
<th>Party</th>
<th>Incumbent in:</th>
<th>Candidate in:</th>
<th>Modify</th>
</tr>


{% for politician in politicians %}

<tr>
<td><a href='{% url politicians.views.view_politician politician.id %}'>
{{politician.name}}</a></td>
<td>{{politician.party}}</td>
<td>{% if politician.incumbent_riding %}
        <a href="{% url ridings.views.view_riding politician.incumbent_riding.id %}">{{politician.incumbent_riding}}</a>
    {% else %}
        {{politician.incumbent_riding}}
    {% endif %}</td>
<td>{% if politician.candidate_riding %}
        <a href="{% url ridings.views.view_riding politician.candidate_riding.id %}">{{politician.candidate_riding}}</a>
    {% else %}
        {{politician.candidate_riding}}
    {% endif %}</td>
<td><a href='{% url politicians.views.modify_politician politician.id %}'>Modify or Delete</a></td>
</tr>

{% endfor %}
</table>

{% endblock %}
