{% extends "base-subsection.html" %}

{% block h1 %}All {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url election.views.eo_homepage %}">EO Home Page</a></li>   
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li>All Ridings</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

<table>
<tr>
<th>Riding</th>
<th>Voters</th>
<th>Seats</th>
</tr>
{% for riding in ridings %}
<tr>
<td>{{ riding.name }}</td>
<td align="center">{{ riding.num_voters }}</td>
<td align="center">{{ riding.num_seats }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
