{% extends "base-subsection.html" %}

{% block h1 %}List of Deleted {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li>View Deleted Ridings</li>
{% endblock %}

{% block actions %}
<li><a href="{% url ridings.views.view_all_ridings %}">Return to Ridings</a></li>
{% endblock %}

{% block content %}
<table>
<tr>
<th>Name</th>
</tr>
{% for riding in ridings %}
<tr>
<td><a href="{% url ridings.views.view_riding riding.id %}">{{riding.name}}</a></td>
<td><a href="{% url ridings.views.modify_riding riding.id %}">Restore</a></td>
</tr>
{% endfor %}
</table>


{% endblock %}

