{% extends "base-subsection.html" %}

{% block h1 %}List of {{type}} in {{ riding }}{% endblock %}

{% block subbreadcrumbs %}
{% if election.status == 'BEF' or election.status == 'AFT' %}
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li><a href="{% url ridings.views.view_riding riding.id%}">View Riding {{ riding }}</a></li>
<li>View Polls</li>
{% endif %}
{% if election.status == 'DUR' %}
<li><a href="{% url ridings.views.choose_riding %}">Choose Riding</a></li>
<li>View Polls</li>
{% endif %}
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url ridings.views.add_poll riding.id %}">Add Poll to Riding</a></li>
{% endif %}
{% endblock %}

{% block content %}
<table>
<tr>
{% for poll in polls %}
{% if forloop.first %}
{% endif %}
{% endfor %}
<th>Poll Number</th>
<th>Active</th>
<th>Polling Station</th>
<th></th>
</tr>
{% for poll in polls %}
<tr>
<td>{{ poll.poll_num }}</td>
<td>{{ poll.active }}</td>
<td align="center">{{ poll.polling_stn }}</td>
{% if election.status == 'BEF' %}
<td><a href="{% url ridings.views.modify_poll riding.id poll.id %}">Modify</a></td>
{% endif %}
{% if election.status == 'DUR' %}
<td><a href="{% url ridings.views.close_poll riding.id poll.id %}">Close Poll</a></td>
{% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}

