{% extends "base-subsection.html" %}

{% block h1 %}{{riding}} Information{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url election.views.eo_homepage %}">EO Home Page</a></li>   
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li>View Riding {{riding}}</li>
{% endblock %}

{% block actions %}
<li><a href="{% url ridings.views.modify_riding riding.id %}">Edit General Information</a></li>
<li><a href="{% url politicians.views.add_politician riding.id %}">Add Politician</a></li>
<li><a href="{% url ridings.views.view_polls riding.id %}">View Polls</a></li>
{% endblock %}

{% block content %}

<h2>General Information</h2>
<ul>
<li>Created: {{riding.created}}</li>
<li>Voters: {{riding.num_voters}}</li>
<li>Seats: {{riding.num_seats}}</li>
<li>Polls Numbers:<br/>
{% for poll in polls %}
{{ poll.id }}<br/>
{% endfor %}</li>
<li>Number of Candidates: {{riding.num_candidates}}</li>
<li>Number of Incuments: {{riding.num_incumbents}}</li>

</ul>

<h2>Candidates</h2>
<ul>
{% for candidate in candidates %}
    <li><a href="{% url politicians.views.view_politician riding.id, candidate.id %}">{{ candidate.name }}</a> {{ candidate.party }}</li>
{% endfor %}
</ul>

<h2>Incumbents</h2>
<ul>
{% for incumbent in incumbents %}
    <li><a href="{% url politicians.views.view_politician riding.id, incumbent.id %}">{{ incumbent.name }}</a> {{ incumbent.party }}</li>
{% endfor %}
</ul>


<h2>Keywords</h2>
<ul>
{% for keyword in keywords %}
<li>{{ keyword.keyword }}: {{keyword.value}}</li>
{% endfor %}
</ul>

{% endblock %}