{% extends "base-subsection.html" %}

{% block h1 %}{{riding}} Information{% endblock %}

{% block subbreadcrumbs %}  
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li>View Riding {{riding}}</li>
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url ridings.views.modify_riding riding.id %}">Edit General Information</a></li>
<li><a href="{% url politicians.views.add_politician %}">Add Politician</a></li>
<li><a href="{% url ridings.views.add_poll riding.id %}">Add Poll</a></li>
{% endif %}
{% if election.status == 'BEF'%}
<li><a href="{% url ridings.views.view_polls riding.id %}">View Polls</a></li>
{% endif %}
{% if election.status == 'DUR' or election.status == 'AFT' %}
<li><a href="{% url election.views.calc_winners riding.id %}">View Election Results</a></li>
{% endif %}
{% endblock %}

{% block content %}

<h2>General Information</h2>
<ul>
<li>Created: {{riding.created}}</li>
<li>Voters: {{riding.num_voters}}</li>
<li>Seats: {{riding.num_seats}}</li>
<li>Polls Numbers: {{ polls }}</li>
<li>Number of Candidates: {{riding.num_candidates}}</li>
<li>Number of Incuments: {{riding.num_incumbents}}</li>
{% if election.status == 'DUR' or election.status == 'AFT' %}
<li>Number of Ballots Cast: {{ ballots }}</li>
<li>Number of Spoiled Ballots: {{ spoiled }}</li>
<li>Voter Turnout: <script type="text/javascript">
var v_t = ({{ ballots }}/{{riding.num_voters}} * 100);
document.write((v_t.toFixed(2)+"%"));
</script></li>
<li>{% if riding.active %}
        This riding is open
    {% else %}
        This riding is closed and not accepting ballots.
    {% endif %}</li>
    {% if riding.recount_needed %}<li>This riding needs a recount.</li>{% endif %}
{% endif %}
</ul>

<h2>Candidates</h2>

{% if candidates %}
<ul>
    {% for candidate in candidates %}
    <li><a href="{% url politicians.views.view_politician candidate.id %}">{{ candidate.name }}</a> ({{ candidate.party }})</li>
    {% endfor %}
</ul>
{% else %}
    <p>No candidates in this riding.</p>
{% endif %}


<h2>Incumbents</h2>
{% if incumbents %}
<ul>
    {% for incumbent in incumbents %}
    <li><a href="{% url politicians.views.view_politician incumbent.id %}">{{ incumbent.name }}</a> ({{ incumbent.party }})</li>
    {% endfor %}
</ul>
{% else %}
<p>No incumbents in this riding.</p>
{% endif %}

<h2>Keywords</h2>
{% if keywords %}
<ul>
    {% for keyword in keywords %}
        {% if election.status == 'BEF' %}
            <li><a href="{% url keywords.views.edit_riding_keyword_value keyword.id %}">{{ keyword.keyword }}</a>: {{keyword.value}}</li>
        {% else %}
            <li>{{ keyword.keyword }}: {{keyword.value}}</li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No keywords for this riding.</p>
{% endif %}

{% endblock %}
