{% extends "base-subsection.html" %}

{% block h1 %}{{riding}} Information{% endblock %}

{% block subbreadcrumbs %}  
<li><a href="{% url ridings.views.view_all_ridings %}">Riding Management</a></li>
<li>View Riding {{riding}}</li>
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url ridings.views.modify_riding riding.id %}">Edit General Information</a></li>
<li><a href="{% url politicians.views.add_politician %}">Add Politician</a></li>
<li><a href="{% url ridings.views.add_poll riding.id %}">Add Poll</a></li>
{% endif %}
<li><a href="{% url ridings.views.view_polls riding.id %}">View Polls</a></li>
{% if election.status == 'DUR' or election.status == 'AFT' %}
<li><a href="{% url election.views.calc_winners riding.id %}">View Election Results</a></li>
{% endif %}
{% endblock %}

{% block content %}

<h2>General Information</h2>
<ul>
<li>Created: {{riding.created}}</li>
<li>Voters: {{riding.num_voters}}</li>
<li>Seats: {{riding.num_seats}}</li>
<li>Polls Numbers: {{ polls }}</li>
<li>Number of Candidates: {{riding.num_candidates}}</li>
<li>Number of Incuments: {{riding.num_incumbents}}</li>

</ul>

<h2>Candidates</h2>
<ul>
{% for candidate in candidates %}
    <li><a href="{% url politicians.views.view_politician candidate.id %}">{{ candidate.name }}</a> {{ candidate.party }}</li>
{% endfor %}
</ul>

<h2>Incumbents</h2>
<ul>
{% for incumbent in incumbents %}
    <li><a href="{% url politicians.views.view_politician incumbent.id %}">{{ incumbent.name }}</a> ({{ incumbent.party }})</li>
{% endfor %}
</ul>


<h2>Keywords</h2>
<ul>
{% for keyword in keywords %}
{% if not keyword.keyword.delete %}
<li><a href="{% url keywords.views.edit_riding_keyword_value keyword.id %}">{{ keyword.keyword }}</a>: {{keyword.value}}</li>
{% endif %}
{% endfor %}
</ul>

{% endblock %}
