{% extends "base-subsection.html" %}

{% block h1 %}List of {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li>Riding Management</li>
{% endblock %}

{% block actions %}
{% if election.status == 'BEF' %}
<li><a href="{% url ridings.views.add_riding %}">Add New Riding</a></li>
{% endif %}
{% comment %}
<li><a href="{% url ridings.views.view_deleted_ridings %}">View Deleted Ridings</a></li>
{% endcomment %}
{% if election.status == 'DUR' or election.status == 'AFT' %}
<li><a href="{% url election.views.calc_all_winners %}">View All Election Results</a></li>
{% endif %}
{% endblock %}

{% block content %}

{% if ridings %}
<table>
<tr>
    <th>Name</th>
    {% if election.status == 'BEF' %}
    <th colspan="3">Modify</th>
    {% endif %}
</tr>
{% for riding in ridings %}
<tr>
    <td><a href="{% url ridings.views.view_riding riding.id %}">{{riding.name}}</a></td>
    {% if election.status == 'BEF' %}
    <td><a href="{% url ridings.views.modify_riding riding.id %}">Modify or Delete</a></td>
    <td><a href="{% url politicians.views.add_politician %}">Add Politician</a></td>
    <td><a href="{% url ridings.views.add_poll riding.id %}">Add Poll</a></td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% else %}
    <p>No ridings currently in the system.</p>
{% endif %}


{% endblock %}

