{% extends "base-subsection.html" %}

{% block h1 %}List of {{type}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url election.views.eo_homepage %}">EO Home Page</a></li>
<li>Riding Management</li>
{% endblock %}

{% block actions %}
{% if election == 'BEF' %}
<li><a href="{% url ridings.views.add_riding %}">Add New Riding</a></li>
{% endif %}
<li><a href="{% url ridings.views.view_deleted_ridings %}">View Deleted Ridings</a></li>
{% if election == 'DUR' or election == 'AFT' %}
<li><a href="{% url election.views.calc_all_winners %}">View All Election Results</a></li>
{% endif %}
{% endblock %}

{% block content %}
<table>
<tr>
<th>Name</th>

<th></th>
</tr>
{% for riding in ridings %}
<tr>
<td><a href="{% url ridings.views.view_riding riding.id %}">{{riding.name}}</a></td>
{% if election == 'BEF' %}
<td><a href="{% url ridings.views.modify_riding riding.id %}">Modify</a></td>
{% endif %}
</tr>
{% endfor %}
</table>


{% endblock %}

