<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}BC-STV Voting System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>

<div id="header">
<span style="float:left">{{ user }} (Role)</span>
{{ election.get_status_display|capfirst }} an election, {% now "N j, Y"%}
<span style="float:right"><a href="{% url election.views.logout_user %}">Logout</a></span>
</div>

<h1>{% block h1 %}BC-STV Voting System{% endblock %}</h1>

<div id="breadcrumbs">
    <ul>
    {% block breadcrumbs %}
        <li><a href="{% url election.views.index %}">BC-STV home</a></li>
        {% block subbreadcrumbs %}
        {% endblock subbreadcrumbs %}
    {% endblock breadcrumbs%}
    </ul>
</div>


<div id="main">
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}Created by team Awesome Blimps in Awesome Space: Holly Becker, Dale Floer, Chris Bolognese, Maria Kaardal, Justin Symonds, Alpha Ip, Antonio Abaya, &amp; Jay Szeto.  Consulting help from Robin H. Johnson (robbat2@gentoo.org).  Code Licensed <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>{% endblock %}
</div>

</body>
</html>
