<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}BC-STV Voting System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>

<div id="header">
{% if user.is_authenticated %}
    <span style="float:left">{{ user }} ({{ user.groups.all.0.name }})</span>
{% endif %}
{{ election.get_status_display|capfirst }} an election, {% now "N j, Y"%}
{% if user.is_authenticated %}
    <span style="float:right"><a href="{% url election.views.logout_user %}">Logout</a></span>
{% endif %}
</div>

<h1>{% block h1 %}BC-STV Voting System{% endblock %}</h1>

<div id="breadcrumbs">
{% if user.is_authenticated %}
    <ul>
    {% block breadcrumbs %}
        <li><a href="{% url election.views.index %}">BC-STV Home</a></li>
        {% block subbreadcrumbs %}
        {% endblock subbreadcrumbs %}
    {% endblock breadcrumbs%}
    </ul>
{% endif %}
</div>


<div id="main">
{% if messages %}
    {% for message in messages %}
    <div id="messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message|safe }}
    </div>
    {% endfor %}
{% endif %}

{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}Created by team Awesome Blimps in Awesome Space: Holly Becker, Dale Floer, Chris Bolognese, Maria Kaardal, Justin Symonds, Alpha Ip, Antonio Abaya, &amp; Jay Szeto.  Consulting help from Robin H. Johnson (robbat2@gentoo.org).  Code Licensed <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>{% endblock %}
</div>

</body>
</html>
