<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}BC-STV Voting System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/style.css" />
</head>

<body>

<div id="header">
<span style="float:left">User (Role)</span>
Election Status, Date
<span style="float:right">Logout</span>
</div>

<h1>{% block h1 %}BC-STV Voting System{% endblock %}</h1>

<div id="breadcrumbs">
    <ul>
    {% block breadcrumbs %}
        <li><a href="/">BC-STV home</a></li>
        {% block subbreadcrumbs %}
            <li>Item2</li>
            <li>Item3</li>
        {% endblock subbreadcrumbs %}
    {% endblock breadcrumbs%}
    </ul>
</div>


<div id="main">
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}Created by team Awesome Blimps in Awesome Space: Holly Becker, Dale Floer, Chris Bolognese, Maria Kaardal, Justin Symonds, Alpha Ip, Antonio Abaya, &amp; Jay Szeto.{% endblock %}
</div>

</body>
</html>
