{% extends "base-subsection.html" %}

{% block h1 %}User Management{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url election.views.admin_homepage %}">Admin Home Page</a></li>
<li>User Management</li>
{% endblock %}

{% block actions %}
<li><a href="{% url users.views.add_user %}">Add User</a></li>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>User</th>
        <th>Modify</th>
        <th>Ban</th>
        <th>Delete</th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user }}</td>
        <td><a href="{% url users.views.modify_user user.id %}">Modify</a></td>
        <td><a href="{% url users.views.ban_user user.id %}">Ban</a></td>
        <td><a href="{% url users.views.delete_user user.id %}">Delete</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}

